
/* Add some basic styling */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-color: whitesmoke;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo {
    text-decoration: none;
    color: #3a6cf4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a {
    color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover {
    color: #601cfc;
}

.container-2 {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: flex-start;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    padding: 50px;
}

label {
    display: block;
    margin-bottom: 10px;
}


input[type="text"],
input[type="email"],
input[type="tel"],
select {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.booking-form{
    position: relative;
    top: 40px;
    left: -53px;

}
#enwan{
    position: relative;
    top: 20px;
    text-align: center;
    height: 80px;
    border-radius: 10px;
    background-color: #3a6cf4;

}
#enwan h1{
    color: white;
    position:relative;
    top: -35px;
    text-align: center;
}
#appointmentForm{
    position: relative;
    top: 50px;
}
.date-container {
    display: flex;
    align-items: self-start;
    margin-bottom: 10px;
}

.date-container label {
    font-weight: bold;
    display: block;
    padding-top: 5px;
}

.date-container input {
    padding-left: 10px;
    width: 120px;
    margin: 0.4rem 0;
}

.name-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

button {
    padding: 10px 20px;
    background-color: #3a6cf4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #3a6cf4;
}

.photo-container {
    position: relative;
    top: 231px;
    left: -230px;
    margin-right: 20px;
}

.photo-container img {
    width: 400px;
    height: auto;    
}
.footer {
    background-color: whitesmoke;
    color: #3a6cf4;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    color: black;
}

.footer .social-icons a {
    font-size: 1.3em;
    padding: 0 12px 0 0;
}

#s {
    top: 100%;
    position: relative;
}
