* {
    /* Change your font family */
    font-family: sans-serif;
    top: 0;
}

#my_table table{
    position: relative;
    top: 100px;
    left: 76px;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 620px;
    min-height: 300px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
#my_table table thead tr {
    background-color: #3a6cf4;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    height: 55px;
}
#my_table table td {
    padding: 12px 15px;
}
#my_table tbody tr {
    border-bottom: 1px solid #dddddd;
}
#my_table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
#my_table tbody tr:last-of-type {
    border-bottom: 2px solid #3a6cf4;
}
#my_table tbody tr.active-row {
    font-weight: bold;
    color: black;
}
#my_table table tr th {
    border: 1px solid;
    text-align: center;
    padding: 10px;
  }
#my_table table tbody tr td {
    border: 1px solid;
    height: 20px;
    text-align: center;
    border-color: #3a6cf4;
  }
#pic{
    border-radius: 10px;
    height: 334px;
    width: 400px;
    left: 0px;
    top: -257px;
    position: relative;

}
#pic img{
    position: relative;
    left: 230%;
}

